- form_for :page, :url => translated_admin_page_edit_url(:id => @page.id, :language => (params[:language]||SiteLanguage.default), :action => 'update'), :html => {:method => :put, :multipart => true, :id => 'edit_page'} do |fields|
  = render :partial => "fields", :object => fields